<p>
  <td>
<ul>
<li><a title="MTF" href="http://www.feuerwehr-stutensee.de/info/technik/einsatzfahrzeuge/mannschaftstransportfahrzeug-mtf#florian-stutensee-1-19">Mannschaftstransportwagen MTW</a></li>
<li><a title="DLA (K) 23/12" href="http://www.feuerwehr-stutensee.de/info/technik/einsatzfahrzeuge/drehleiter-dla-k-2312/">Drehleiter DLA (K) 23/12</a></li>
<li><a title="Löschgruppenfahrzeug LF 20/20" href="http://www.feuerwehr-stutensee.de/info/technik/einsatzfahrzeuge/loschgruppenfahrzeug-2020/">Löschgruppenfahrzeug LF 20/20</a></li><a title="Löschgruppenfahrzeug LF 20/20" href="http://www.feuerwehr-stutensee.de/info/technik/einsatzfahrzeuge/loschgruppenfahrzeug-2020/">
</a><li><a title="Löschgruppenfahrzeug LF 20/20" href="http://www.feuerwehr-stutensee.de/info/technik/einsatzfahrzeuge/loschgruppenfahrzeug-2020/"></a><a title="LF 16/12" href="http://www.feuerwehr-stutensee.de/info/technik/einsatzfahrzeuge/loschgruppenfahrzeug-lf-1612/">Löschgruppenfahrzeug LF 16/12</a></li>
<li><a title="LF 16/12" href="http://www.feuerwehr-stutensee.de/info/technik/einsatzfahrzeuge/geraetewagen-gw-l2/">Gerätewagen GW-L2</a></li>
</ul>
</td>
</p>
